doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Magellan's Awesome Trip
		link(rel="stylesheet", href="/styles/main.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

	body
		header.center 
			h1 Magellan's Awe$ome Trip
			h2 Ahoy, #{location}!
		.container.container-fluid.center
			.row
				.main.col-lg-10
					block content
				.sidebar.col-lg-2
					block sidebar


			