doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Magellan's Awesome Trip
		link(rel="stylesheet", href="/styles/main.css")

	body
		div.container.container-fluid.center
			header Magellan's Awe$ome Trip Around the Friggin World!!!!
			h1 #{location}
			block content
			block footer


			